table {
	border: 1px solid #eeeeee;
}
td{
	vertical-align:middle;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
	background-color:#FFFFFF;
	text-align:center;
	width: 20%;
}
th{
	vertical-align:middle;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
	background-color:#CEE3F6;
	font-weight: bold;
	text-align:center;
	width: 20%;
}
img{
	width: 100%;
	max-width: 210px
}