{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block content %}

    <hr/>
    <br/>

    <p> <strong>Name:</strong> {{page.name}}</p>
    <p> <strong>Verified:</strong> {{page.verified}}</p>
    <p> <strong>Image:</strong> {{page.image}}</p>
    <table>
        <thead>
          <tr>
                <th>Author</th>
                <th>Date</th>
                <th>Disease</th>
                <th>Comments</th>
                <th>Rating</th>
          </tr>
        </thead>

        <tbody>
	{% for review in page.review_set.all %}
	
          <tr>
                <td>{{ page.author }}</td>
                <td>{{ page.date }}</td>
                <td>{{ page.disease }}</td>
                <td>{{ page.comments }}</td>
                <td>{{ page.rating }}</td>
          </tr>
	
	{% endfor %}
	</tbody>
    </table>

{% endblock %}