{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block content %}

    <hr/>
    <br/>

    <p> <strong>Name:</strong> {{page.name}}</p>
    <p> <strong>Verified:</strong> {{page.verified}}</p>
    <p> <strong>Image:</strong> <img src="{{ page.image.url }}"/></p>
    <br/>
    <div><a href="add_review/" class="btn btn-default">Add Review</a></div><br/>
    <table>
        <thead>
          <tr>
                <th>Author</th>
                <th>Date</th>
                <th>Disease</th>
                <th>Comments</th>
                <th>Rating</th>
          </tr>
        </thead>

        <tbody>
	{% for review in page.review_set.all %}
	
          <tr>
                <td>{{ review.author }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.disease }}</td>
                <td>{{ review.comments }}</td>
                <td>{{ review.rating }}</td>
          </tr>
	
	{% endfor %}
	</tbody>
    </table>

{% endblock %}