{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <hr/>
    <br/>
    
    <table>
        <thead>
          <tr>
                <th>Name</th>
                <th>Verified</th>
                <th>Image</th>
                <th></th>
          </tr>
        </thead>

        <tbody>
	{% for page in page_list %}
	
          <tr>
                <td>{{ page.Name }}</td>
                <td>{{ page.verified }}</td>
                <td>{{ page.image }}</td>
                <td><a style="cursor:pointer" href="/page/{{ page.id }}/">View Details</a></td>
          </tr>
	
	{% endfor %}
	</tbody>
    </table>

{% endblock %}